<div>
	<%= will_paginate list %>
</div>
<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Author</th>
		<th>Created</th>
		<th>Actions</th>
	</tr>

	<% list.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.description %></td>
			<td><%= article.user.username %></td>
			<td><%= time_ago_in_words(article.created_at) %></td>
			<td><%= link_to "Show", article_path(article) %></td>
			<td><%= link_to "Edit", edit_article_path(article) %></td>
			<td><%= link_to "Delete", article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
</table>

<div>
	<%= will_paginate list %>
</div>