<h1>Article</h1>
<p>
	<%= link_to "List articles", articles_path %>
</p>
<% if logged_in? && ( current_user == @article.user || current_user.admin? ) %>
	<p>
		<%= link_to "Edit article", edit_article_path(@article) %>
	</p>
<% end %>

<p>
	Title: <%= @article.title %>
</p>
<p>
	Description: <%= @article.description %>
</p>

<p>
Created by : <%= @article.user.username %>
</p>

<p>
Time created : <%= time_ago_in_words(@article.created_at) %>
</p>